@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .bg-light-desktop{
        background: url("/images/bg-desktop-light.jpg");
    }
    .bg-dark-desktop{
        background: url("/images/bg-desktop-dark.jpg");
    }
    .bg-light-mobile{
        background: url("/images/bg-mobile-light.jpg");
    }
    .bg-dark-mobile{
        background: url("/images/bg-mobile-dark.jpg");
    }
}